body {
    padding-top: 50px;
}

h1 {
    font-family: 'Kreon', serif;
    margin-bottom: 40px;
    text-align: center;
}

.well {
    background-color: floralwhite
}

.well-sm {background-color: white}

.maps {
    display:block; 
    height:600px; 
    margin-top: 10px;
    border: 1px solid lightgray;;
}

.panel-heading {
    font-weight: bold;
    font-size: 150%;

}
#floating-panel-old {
  position: absolute;
  top: 220px;
  left: 35%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  max-width: 30%;
  min-width: 19%;
}

#floating-panel {

}

.red {
    color: red;
    font-weight: bold;
}
.list-group-item {
    cursor: pointer;
}